* {
  box-sizing: border-box;
  font-size: 20px;
}

#input {
  
  
  padding: 12px 12px 12px 12px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
#history {
	vertical-align: bottom;
}

.main {
	display: grid;
	grid-template-rows: 1fr auto;
	height: 100vh;
	
}
 .grid-container {

  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: black;
  padding: 1px;
  margin-bottom: 5px;
}
.grid-item {
  background-color: grey;
  border: 1px solid black;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
